body {
    font-family: 'Poppins', sans-serif;
    
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none; /* Hide initially */
}

.popup {
    
    background-color: #fd6569;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    max-width: 100%;
    display: none; /* Hide initially */
}
.popup input[type="text"]
{
 background: transparent;
border: none;
 width: 100%;
 margin: 10px;
 padding: 5px;
 font-size: 20px;
 border-bottom: solid black;

}
.popup textarea{
    background: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border: 2px solid black;
}
.popup button{
    background-color: black;
    color: white;
    border: #000;
    width: 10%;
    height: 30px;
    padding: 10px;
    margin: 20px;
    
}
.navbar{
    background-color: #fd6569;
    padding: 10PX;
    text-align: center;
}
#btn{
    background-color: #fd6569;
    
    color: #f8f8f8;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: none;
    color: #000;
}
#btn h1 {
    margin: 0;
    font-size: 50px; 
   
}
.container{
    padding: 10px;
}
.book-continer{
    padding: 15px;
    width: 20%;
    background-color: #000;
    border-radius: 10px;
    display: inline-block;
    color: white;
    margin: 30px;
    vertical-align: top;
}
.book-continer h2{
    color: #fd6569;
}
.book-continer button{
    background-color: #fd6569;
    border: none;
    border-radius: 10px;
    font-size: large;
}